---
layout: default
current: people
title: People
navigation: true
class: page-template
disqus: false
---


<!-- < default -->
<!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template -->

<!-- The big featured header, it uses blog cover image as a BG if available -->
<header class="site-header outer">
    <div class="inner">
        {% include site-nav.html %}
    </div>
</header>

<!-- Everything inside the #post tags pulls data from the post -->
<!-- #post -->

<main id="site-main" class="site-main outer" role="main">
    <div class="inner">

        <article class="post-full no-image">
<!-- 
            <header class="post-full-header">
                <h1 class="post-full-title">{{ page.title }}</h1>
            </header>
 -->

        <h2>Current</h2>
        {% for type in site.people_order %}
            {% for author in site.data.authors %}
                {% if author[1].current and author[1].section == type %}
                <section class="people-item ">
        
                <div class="author-card">
                    {% if author[1].picture %}
                        <img class="author-profile-image" src="{{ "/" | relative_url }}{{ author[1].picture }}" alt="{{ author[1].name }}" />
                    {% else %}
                        <img class="author-profile-image" src="https://upload.wikimedia.org/wikipedia/commons/2/24/Missing_avatar.svg" alt="{{ author[1].name }}" />
                    {% endif %}
                    <section class="author-card-content">
                        <h4 class="author-card-name">
                        {% if author[1].url_full %}
                        <a href="author[1].url_full">{{ author[1].name }}</a>
                        {% else %}
                        {{ author[1].name }}
                        {% endif %}
                        </h4>
                        <p>
                           {% if author[1].long_bio %} 
                            {{ author[1].long_bio }}
                            {% else %}
                            {{ author[1].bio }}
                            {%endif%}
                        </p>
                    </section>
                </div>
                </section>
                {%endif%}
            {% endfor %}
        {% endfor %}


        <h2>Past</h2>
        {% for author in site.data.authors %}
            {% unless author[1].current %}
            <section class="people-item small">
    
            <div class="author-card">
                {% if author[1].picture %}
                    <img class="author-profile-image" src="{{ "/" | relative_url }}{{ author[1].picture }}" alt="{{ author[1].name }}" />
                {% else %}
                    <img class="author-profile-image" src="https://upload.wikimedia.org/wikipedia/commons/2/24/Missing_avatar.svg" alt="{{ author[1].name }}" />
                {% endif %}
                <section class="author-card-content">
                    <h4 class="author-card-name">
                    {% if author[1].url_full %}
                    <a href="author[1].url_full">{{ author[1].name }}</a>
                    {% else %}
                    {{ author[1].name }}
                    {% endif %}
                    </h4>
                    <p>
                        {% if author[1].long_bio %} 
                        {{ author[1].long_bio }}
                        {% else %}
                        {{ author[1].bio }}
                        {%endif%}
                    </p>
                </section>
            </div>
            </section>
            {%endunless%}
        {% endfor %}

        <h2>Prospective</h2>
        <p>Thanks for your interest, please send your CV and transcripts to hadi.hemmati@ucalgary.ca</p>
        
    </article>

    </div>
</main>

<!-- /post -->

<!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs -->
{% include page-scripts.html %}


