<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-projects" role="menuitem"><a href="{{site.baseurl}}projects">Projects</a></li>
    <li class="nav-projects" role="menuitem"><a href="{{site.baseurl}}students">Students</a></li>
    <li class="nav-publications" role="menuitem"><a href="{{site.baseurl}}tag/publication/">Publications</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
</ul>
