<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{"/" | relative_url}}">Home</a></li>
    <li class="nav-projects" role="menuitem"><a href="{{"/" | relative_url}}projects">Projects</a></li>
    <li class="nav-projects" role="menuitem"><a href="{{"/" | relative_url}}people">People</a></li>
    <li class="nav-publications" role="menuitem"><a href="{{"/" | relative_url}}tag/publication/">Publications</a></li>
    <li class="nav-about" role="menuitem"><a href="{{"/" | relative_url}}about/">About</a></li>
</ul>
